.l-figure {
  position: relative;

  & img {
    position: absolute;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 51% 0;
  }

}

.l-hello,
.l-greenBox {
  justify-self: center;
}

.l-lessonPoint {
  padding-top: 35px;

  @include tab {
    padding-top: 0;
  }

  h2 {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  p {
    padding: 0 40px;
  }

}

.l-lessonPoints {

  li:nth-of-type(1) {
    padding-top: 70px;

    @include tab {
      padding-top: 0;
    }
  }

  li:nth-of-type(3) {
    padding-bottom: 70px;
  }
}

.l-main {
  @include tab {
    padding-bottom: 100px;
  }
}

.l-companyName,
.l-address {
  text-align: center;
  padding: 15px 0;
}

.l-footerHead {
  padding-bottom: 20px;
}

.l-about li {
  float: left;
  padding: 7px;
}

.l-copyright {
  float: right;
}

.l-header span {
  display: none;

  @include pc {
    display: block;
    align-self: center;
  }
}

