
.u-intoro {

  @include tab {
    border-radius: 10px;
  margin-top: 60px;
  margin-bottom: 30px;
  }
  
}

.u-hello {
  margin-top: 20px;

  @include tab {
    margin-top: 0;
  }
}

.u-figure {
  @include tab {
      margin-bottom: -200px;
  }
}

.u-greenBox {
  margin-top: 10px;
  margin-bottom: 20px;
}

.l-copyright {
  margin-top: 20px;
}

.u-lessonPoint {
  @include tab {
    margin-top: -100px;
    z-index: 5;
  }
}

.l-header span  {
  margin-bottom: -5px;
}